<style>
  article p {
    text-align: justify;
  }

  article h1,
  article h2,
  article h3,
  article h4,
  article h5,
  article h6 {
    text-align: left;
  }
</style>
<link rel="stylesheet" href="{{ "css/title-font.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/cosmic-physics.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/background-parallax.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/home-earth.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/home-posts.css" | relURL }}">
<link rel="stylesheet" href="{{ "css/wizard-cursor.css" | relURL }}">
